{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":5,"column":11},"action":"insert","lines":["<ifmodule mod_headers.c=\"\">","   SetEnvIf Origin \"^(.*\\.domain\\.com)$\" ORIGIN_SUB_DOMAIN=$1","   Header set Access-Control-Allow-Origin \"%{ORIGIN_SUB_DOMAIN}e\" env=ORIGIN_SUB_DOMAIN","   Header set Access-Control-Allow-Methods: \"*\"","   Header set Access-Control-Allow-Headers: \"Origin, X-Requested-With, Content-Type, Accept, Authorization\"","</ifmodule>"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":11},"end":{"row":5,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1589115577531,"hash":"8fe72cf3f1c85640944dc4b91f516475fbf87942"}